<div class="container accueil-template">
    <h1>Bienvenue !</h1>
    <p><b>Nous sommes une Association loi 1901 d'intérêt général N°0774010184 SIRET 44155961400058. Affiliée à la Confédération des S.P.A. de France, reconnue d'utilité publique.</b></p>
    <p>Le Refuge est ouvert tous les jours de 14h30 à 17h30.</p>
    <h4>NOTRE ASSOCIATION A POUR BUT :</h4>
    <p>
        <ul class="collapsible popout" data-collapsible="accordion">
            <li>
                <div class="collapsible-header hoverable"><b>Le placement des chats et des chiens abandonnés en privilégiant le sauvetage d'animaux âgés.</b></div>
                <div class="collapsible-body"></div>
            </li>
            <li>
                <div class="collapsible-header hoverable"><b>L'aide à la stérilisation des chats libres.</b></div>
                <div class="collapsible-body">La reproduction non contrôlée des chats (sans maîtres) est un véritable fléau pour eux-mêmes : manque de nourriture, affection, froid en hiver, maladies non soignées, souffrances, errance.</div>
            </li>
            <li>
                <div class="collapsible-header hoverable"><b>La lutte contre les mauvais traitements.</b></div>
                <div class="collapsible-body">Pour lutter contre les mauvais traitements nous nous référons aux textes du Code Pénal pour déposer plainte et poursuivre en justice les personnes coupables de mauvais traitements et actes de cruauté envers un animal.</div>
            </li>
        </ul>
        Tous nos chiens quittent le Refuge tatoués, vaccinés. La plupart sont castrés et stérilisés.</p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chien1.jpg"></div>
    </div>
    <h2>Nous aider !</h2>
    <p>Il y a plusieurs façons de nous aider :</p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chat1.jpg"></div>
    </div>
    <h4>Devenir adhérent :</h4>
    <p>En devenant adhérent pour un an, vous offrirez 22€ aux chiens et aux chats du refuge. Soit 50L de litière pour chat, ou une dizaine de gamelles pour chiens !</p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chien2.jpg"></div>
    </div>
    <h4>Parrainer :</h4>
    <p>Du fait de leur âge ou de leur handicap, certains de nos animaux ont peu de chance d'être adoptés... Vous pouvez les aider par un parrainage à partir de 10€/mois ou plus si vous le souhaitez. Le parrainage est considéré comme un don. Nous vous adressons un reçu fiscal qui vous permet de déduire de vos impôts 66% du montant de votre don.<br>Les parrains et marraines reçoivent une photo de leur filleul(e) et de leurs nouvelles règulièrement.</p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chat2.jpg"></div>
    </div>
    <h4>Donner :</h4>
    <p>Il y a plusieurs façons de donner, vous pouvez donner de l'argent ou du matériel. Tout l'argent récolté est utilisé pour les budgets nourriture et soins vétérinaires de plus en plus lourds. Nous acceptons tout type de matériel, laisse, colliers, etc.<br>
        Si je fais un don de 15€ je paierais après réduction fiscal 5.10€.
    </p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chien3.jpg"></div>
    </div>
    <h4>Devenir famille d'accueil :</h4>
    <p>Vous obtenez la garde d'un animal, vous participez au frais vétérinaires...</p>
    <div class="parallax-container hide-on-small-only">
        <div class="parallax"><img src="img/chat3.jpg"></div>
    </div>
    <h4>Devenir bénévole :</h4>
    <p>Pour le bricolage, jardinage, aide aux manifestations, promenades de nos chiens, soins de toilettage pour nos chats et chiens etc.</p>
</div>
