<div class="chat-template container">
    <h2>Adoption Chat</h2>
    <p>
        Voici tous les chats du refuge qui ne demande qu'à être adoptés !<br>
        Pour avoir plus d'information sur le chat vous pouvez cliquer sur le <i class="material-icons blue-text">info_outline</i><span class="chrome-only"> et sur la photo pour la voir en grand</span>.
    </p>
    <center>
        <div id="progressLogo" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </center>

    <!--MODALS-->

    <div id="modals">
        
    </div>

    <!--CARDS-->

    <div id="cards" class="row">
        
    </div>
</div>
