<div class="chien-template container">
    <h2>Adoption Chien</h2>
    <p>Plein de chiens qui ne demandent qu'à être adoptés</p>
    <center>
        <div id="progressLogo" class="preloader-wrapper big active">
            <div class="spinner-layer spinner-green-only">
                <div class="circle-clipper left">
                    <div class="circle"></div>
                </div>
                <div class="gap-patch">
                    <div class="circle"></div>
                </div>
                <div class="circle-clipper right">
                    <div class="circle"></div>
                </div>
            </div>
        </div>
    </center>

    <!--MODALS-->

    <div id="modals">

    </div>

    <!--CARDS-->

    <div id="cards" class="row">

    </div>
</div>
