<div>
    <footer class="page-footer green darken-2 footer-template">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Association Pas Si Bêtes <i class="fa fa-paw"></i></h5>

                    <table>
                        <tbody>
                            <tr>
                                <td class="footer-table"><span class="white-text"><i class="fa fa-map"></i></span></td>
                                <td class="footer-table"><span class="white-text">Route de Donnemarie - D213 - Cutrelles - 77520 Vimpelles</span></td>
                            </tr>
                            <tr>
                                <td class="footer-table"><span class="white-text"><i class="fa fa-phone"></i></span></td>
                                <td class="footer-table"><span class="white-text"><b>Tél.</b> 01.60.58.12.90 - 07.88.10.77.24</span></td>
                            </tr>
                            <tr>
                                <td class="footer-table"><span class="white-text"><i class="fa fa-envelope"></i></span></td>
                                <td class="footer-table"><span class="white-text"><b>E-mail :</b> <a id="footer-mail" href="mailto:psbetes@orange.fr">psbetes@orange.fr</a></span></td>
                            </tr>
                            <tr>
                                <td class="footer-table"><span class="white-text"><i class="fa fa-building"></i></span></td>
                                <td class="footer-table"><span class="white-text"><b>Siège Social :</b> 7/9 rue Grande - Mairie de Voulx - 77940</span></td>
                            </tr>
                        </tbody>
                    </table>

                </div>
                <div class="col l4 offset-l2 s12">
                    <h5 class="white-text">Autres infos</h5>
                    <ul>
                        <li><a class="grey-text text-lighten-3" href="#info"><u>Informations</u></a></li>
                        <li><a class="grey-text text-lighten-3" href="/panel"><u>Interface d'administration</u></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                © 2017 Pas Si Bêtes
                <a class="grey-text text-lighten-4 right">Fait avec <i class="red-text lighten-3 fa fa-heart"></i> par G. ANIZAN et T. CAZADE pour <i>Pas Si Bêtes</i></a>
            </div>
        </div>
        <!--https://goo.gl/maps/mvC5auAW3EP2-->
    </footer>
</div>