<div class="navbar-fixed navbar-template">
    <nav class="green darken-2">
        <div class="nav-wrapper">
            <a href="#accueil" class="brand-logo">
                <img src="/img/psb_logo.png"></img>
            </a>
            <a id="hamburger-menu" data-activates="mobile" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>
            
            <ul class="right hide-on-med-and-down">
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#chien">Adoption Chien</a></li>
                <li><a href="#chat">Adoption Chat</a></li>
            </ul>
            
            <ul class="side-nav" id="mobile">
                <li><a href="#accueil">Accueil</a></li>
                <li><a href="#chien">Adoption Chien</a></li>
                <li><a href="#chat">Adoption Chat</a></li>
            </ul>
        </div>
    </nav>
</div>
