<div class="navbar-fixed navbar-extended-template">
    <nav class="nav-extender nav-extended green darken-2">
        <div class="nav-wrapper">
            <a href="#acceuil" class="brand-logo">
                <img src="/img/psb_logo.png"></img>
            </a>
            <a id="hamburger-menu" href="#" data-activates="mobile-demo" class="button-collapse"><i class="fa fa-bars fa-2x"></i></a>
            
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li><a href="#acceuil">Accueil</a></li>
                <li><a href="#chien">Adoption Chien</a></li>
                <li><a href="#chat">Adoption Chat</a></li>
            </ul>
            
            <ul class="side-nav" id="mobile-demo">
                <li><a href="#acceuil">Accueil</a></li>
                <li><a href="#chien">Adoption Chien</a></li>
                <li><a href="#chat">Adoption Chat</a></li>
            </ul>
        </div>
        
        <div class="nav-content">
            <ul class="tabs tabs-transparent">
                <li class="tab"><a href="#test1">Test 1</a></li>
                <li class="tab"><a href="#test2">Test 2</a></li>
            </ul>
        </div>
    </nav>
</div>
