<div class="not-found-template container">
    <h1><span class="red-text">Erreur :</span> 4<img id="grumycat404" class="circle" src="/img/grumpy_cat_painting.jpg"></img>4 <img src="https://maxcdn.icons8.com/Android_L/PNG/48/Messaging/broken_link-48.png" title="Broken Link" width="48"></h1>
    <p>Ha ! Vous vous êtes perdu ? Un lien ne fonctionne pas ?<br> Si vous avez des difficultés pour naviguer sur le site, contactez le refuge.</p>
    <img width="650" src="/img/grumpy_cat_painting.jpg"><br>
</div>
